<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .title-area {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3rem;
            margin-top: 3rem;
            margin-left: 2rem;
        }

        .title-area .profile {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .title-area .profile img {
            max-width: 5rem;
            margin-right: 1rem;
        }
    </style>
</head>

<body>
    <header>
        <div class="title-area">
            <h1>Admin Dashboard</h1>
            <div class="profile">
                <div class="name">Admin</div><img src="/teacherPages/dashboard/profile.png" alt="">
            </div>
        </div>

    </header>
    <h1>Welcome Admin!!!!!</h1>
</body>

</html>