<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Research</h1>

    <!-- generate some content about a research page for this page -->
    <div class="research">
        <div class="research-img">
            <img src="https://images.unsplash.com/photo-1617720000000-1b9b1b1b1b1b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                alt="">
        </div>
        <div class="research-info">
            <h2>Aditya</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
            </p>
        </div>
    </div>
    <div class="publications">
        <ul>
            <li>Publication 1</li>
            <li>Publication 2</li>
            <li>Publication 3</li>
            <li>Publication 4</li>
            <li>Publication 5</li>
        </ul>
    </div>




</body>

</html>