<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department View</title>
    <link rel="stylesheet" href="/css/deptView.css">
</head>

<body>
    <header>
        <div class="title-area">
            <h1>Fetch all the records</h1>
            <div class="profile">
                <div class="name">[[${user.name}]]</div>
                <img src="/profilePicture" alt="" onclick="openModal(this)">
            </div>
        </div>
    </header>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="/profilePicture" alt="">
        </div>
    </div>

    <form action="downloadDeptCSV" method="post" class="download-selector-form">
        <section>
            <label>Select data to be downloaded</label>
            <div class="container">
                <div th:each="fileType : ${fileTypes}">
                    <label>
                        <input type="checkbox" name="selectedFileTypes" th:value="${fileType}" />
                        <span th:text="${#strings.capitalize(fileType.toString().toLowerCase())}"></span>
                    </label>
                </div>
            </div>
            <div>
                <input type="checkbox" name="selectAll" id="cb-selectAll" />
                <label for="cb-selectAll">Select All</label>
            </div>
            <button type="submit">Download as Excel</button>
        </section>
    </form>


    <div class="details">
        <h2>View By Department of [[${deptName}]]</h2>
        <h3>Total Faculty: [[${#lists.size(teachers)}]]</h3>
        <table class="stats">
            <tr>
                <th>Faculty Name</th>
                <th>Email</th>
                <th th:each="fileType : ${fileTypes}" th:text="${fileType}"></th>
            </tr>
            <tr th:if="${not #lists.isEmpty(teachers)}" th:each="teacher : ${teachers}">
                <td th:text="${teacher.name}"></td>
                <td>
                    <form action="getFacultyByEmail" method="post">
                        <input class="get-by-email" type="submit" name="email" th:value="${teacher.email}">
                    </form>
                </td>
                <td th:each="entry : ${teacherFileCounts[teacher.name]}" th:text="${entry.value}"></td>
            </tr>
            <tr th:if="${#lists.isEmpty(teachers)}">
                <td colspan="${#lists.size(fileTypes) + 2}">No teachers found</td>
            </tr>
        </table>
    </div>



    <script>
        let modal = document.getElementById("myModal");
        let img = document.querySelector(".title-area .profile img");
        let modalImg = document.querySelector("#myModal img");
        img.onclick = function () {
            modal.style.display = "flex";
            modalImg.src = this.src;
        }
        let span = document.getElementsByClassName("close")[0];
        span.onclick = function () {
            modal.style.display = "none";
        }

        let checkboxes = document.querySelectorAll(".container input[type='checkbox']");

        document.getElementById("cb-selectAll").addEventListener("change", function (e) {
            if (e.target.checked) {
                checkboxes.forEach((checkbox) => {
                    checkbox.checked = true;
                });
            } else {
                checkboxes.forEach((checkbox) => {
                    checkbox.checked = false;
                });
            }
        });
    </script>
</body>

</html>