<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Smart Document Capture and Management Platform</title>
    <link rel="stylesheet" href="css/homepage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="landing-page">
        <section class="container">
            <div class="header-area">
                <div class="logo">Smart Document Capture and <b>Management Platform</b></div>
                <ul class="links">
                    <li><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li><a class="nav-link" href="#about">About us</a></li>
                    <li><a class="nav-link" href="/signin">Login</a></li>
                    <li><a class="nav-link" href="/registration">Registration</a></li>
                </ul>
            </div>
            <div class="info">
                <h1>Scan and Manage Your Documents with Ease</h1>
                <p>Smart Document Scanner and Management Platform is the smart solution for document scanning and
                    management. Upload, scan, and organize
                    all of your documents in one secure, centralized location.</p>
                <button><a href="/registration">Get Started</a></button>
            </div>
            <div class="image">
                <img src="/images/hero.svg">
            </div>
            <div class="clearfix"></div>
        </section>
        <section class="features">
            <h2>Features</h2>
            <ul>
                <li>Smart document scanning technology</li>
                <li>Centralized storage</li>
                <li>All organized</li>
                <li>Search through your documents</li>
                <li>Easily shareable</li>
            </ul>
        </section>
        <!-- insert a footer having links to team, about, contact us. add a copyright too -->
        <footer>
            <div>
                <div>
                    <h3>Team</h3>
                    <ul>
                        <li><a href="#">Tanushree</a></li>
                        <li><a href="#">Aditya</a></li>
                        <li><a href="#">Vandana</a></li>
                    </ul>
                </div>
                <div>
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>


            <p>&copy; 2021 Smart Document Scanner and Management Platform</p>
        </footer>
    </div>

</body>

</html>