<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <link rel="stylesheet" href="/css/loginPage.css">
</head>

<body>
  <img loading="lazy" class="wave" src="/images/wave.svg">
  <div class="container">
    <div class="img">
      <img src="/images/bg2.svg">
    </div>
    <div class="login-content">
      <form action="/login" method="post">
        <img src="/images/avatar2.svg">
        <h2 class="title">Welcome</h2>
        <div class="input-div one">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div class="div">
            <h5>Email</h5>
            <input type="email" name="username" class="input" id="floatingInput">
          </div>
        </div>
        <div class="input-div pass">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div class="div">
            <h5>Password</h5>
            <input type="password" name="password" class="input" id="floatingPassword">
          </div>
        </div>
        <div class="forgot">
          <a href="registration">New user? Register</a>
          <a href="loadForgotPassword">Forgot Password?</a>
        </div>
        <input type="submit" class="btn" value="Login">
        <div id="remember">
          <label for="rememberMe">Remember Me</label>
          <input type="checkbox" id="rememberMe" name="remember-me">
        </div>
        <span th:if="${message}" class="message" th:text="${message}"></span>
        <span th:if="${param.error}" class="message" th:text="${param.error}"></span>

      </form>
    </div>
  </div>
  <script>
    const inputs = document.querySelectorAll(".input");

    function toggleFocus() {
      let parent = this.parentNode.parentNode;
      if (this.value.trim() === "") parent.classList.toggle("focus")
    }

    inputs.forEach(input => {
      input.addEventListener("focus", toggleFocus);
      input.addEventListener("blur", toggleFocus);
    });
  </script>
</body>

</html>