<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registration Form</title>
  <link rel="stylesheet" href="/css/registrationPage.css">
</head>

<body>
  <div class="popup-message">
    <svg class="success-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
      <circle class="success-icon__circle" cx="26" cy="26" r="25" fill="none" />
      <path class="success-icon__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
    </svg>
    <h2 th:text="${successMsg}" id="registrationSuccessMessage"></h2>Let's goto Login...
  </div>
  <div class="container">
    <span class="big-circle"></span>
    <!-- circle on the left side and dots on the right -->
    <img src="img/shape.png" class="square" alt="" />
    <div class="form">
      <div class="info">
        <h3 class="title">Register</h3>
        <p class="text">to access your documents and keep them organized in one place</p>
        <p class="text">Thank you for choosing our Smart Document Management and Capture Platform!</p>
      </div>

      <div class="reg-form">
        <form action="createUser" method="post">
          <h3 class="title">Please fill the fields below</h3>
          <h2 class="message" th:text="${regMsg}"></h2>
          <div class="input-container">
            <input type="text" name="name" class="input" required />
            <label for="">Name</label>
            <span>Name</span>
          </div>
          <div class="input-container">
            <!-- <input type="email" name="email" class="input" required/> -->
            <input type="text" name="email" class="input" pattern="[a-zA-Z0-9]+" required />
            <div id="email-suffix">@niet.co.in</div>
            <!-- <div class="tooltip">Only emails with @niet.co.in suffix are allowed</div> -->
            <label for="">Email</label>
            <span>Email</span>
          </div>
          <div class="input-container">
            <input type="password" name="password" class="input" required />
            <label for="">Password</label>
            <span>Password</span>
          </div>
          <div class="input-container">
            <!-- <input type="text" name="mobileNumber" class="input" required /> -->
            <input type="text" name="mobileNumber" class="input" required pattern="[0-9]{10}" />
            <label for="">Mobile Number</label>
            <span>Mobile Number</span>
          </div>
          <div class="input-container">
            <!-- <input type="text" name="branch" class="input" required /> -->
            <select id="department" name="branch" class="input">
              <option value="" disabled selected>Select department</option>
              <option value="Mechanical Engineering">Mechanical
                Engineering</option>
              <option value="Electrical Engineering">Electrical
                Engineering</option>
              <option value="Computer Science">Computer Science</option>
              <option value="Civil Engineering">Civil Engineering</option>
              <option value="Chemical Engineering">Chemical Engineering</option>
            </select>
            <label for="">Branch</label>
            <span>Branch</span>
          </div>
          <!-- <div class="input-container">
            <select name="role" class="input" required>
              <option value="ROLE_USER">User</option>
              <option value="ROLE_TEACHER">Teacher</option>
            </select>

            <label for="">Role</label>
            <span>Role</span>
          </div> -->
          <input type="submit" value="Send" class="btn" required />
        </form>
      </div>
    </div>
  </div>

  <script>
    const inputs = document.querySelectorAll(".input");

    function focusFunc() {
      let parent = this.parentNode;
      parent.classList.add("focus");
    }

    function blurFunc() {
      let parent = this.parentNode;
      if (this.value == "") {
        parent.classList.remove("focus");
      }
    }

    inputs.forEach((input) => {
      input.addEventListener("focus", focusFunc);
      input.addEventListener("blur", blurFunc);
    });

    window.addEventListener('DOMContentLoaded', function () {
      const popupMessage = document.querySelector('.popup-message');
      let successMsg = popupMessage.querySelector('#registrationSuccessMessage').textContent;

      if (successMsg !== '') {
        popupMessage.style.display = 'flex';
        setTimeout(function () {
          window.location.href = '/signin';
        }, 1000);
      }
    });
  </script>
</body>

</html>