<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Details</title>
    <link rel="stylesheet" href="/css/personalInfo.css">
</head>

<body>
    <!-- <span>Use this form for Request the Update in your Profile.</span> -->
    <header>
        <div class="title-area">
            <h1>Personal Info</h1>
            <div class="profile">
                <div class="name">[[${user.name}]]</div>
                <img src="/profilePicture" alt="" onclick="openModal(this)">
            </div>
        </div>
    </header>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="/profilePicture" alt="">
        </div>
    </div>

    <main>
        <div class="two-in-row">
            <fieldset>
                <legend>Personal Information</legend>
                <div class="grid-container">
                    <div class="grid-item"><span class="field">Name: </span>[[${personalDetails!= null ?
                        personalDetails.name : ''}]]</div>
                    <div class="grid-item"><span class="field">ERP ID: </span>[[${personalDetails!= null ?
                        personalDetails.erpId : ''}]]
                    </div>
                    <div class="grid-item"><span class="field">Official Email: </span>[[${personalDetails!= null ?
                        personalDetails.offEmail
                        : ''}]]</div>
                    <div class="grid-item"><span class="field">Personal Email: </span>[[${personalDetails!= null ?
                        personalDetails.perEmail
                        : ''}]]</div>
                    <div class="grid-item"><span class="field">Department: </span>[[${personalDetails!= null ?
                        personalDetails.dept : ''}]]
                    </div>
                    <div class="grid-item"><span class="field">Phone: </span>[[${personalDetails!= null ?
                        personalDetails.mobileNumber :
                        ''}]]</div>
                    <div class="grid-item"><span class="field">Whatsapp Number: </span>[[${personalDetails!= null ?
                        personalDetails.whatsNumber :
                        ''}]]</div>
                    <div class="grid-item"><span class="field">Gender: </span>[[${personalDetails!= null ?
                        personalDetails.gender : ''}]]
                    </div>
                    <div class="grid-item"><span class="field">DOB: </span>[[${personalDetails!= null ?
                        personalDetails.dob : ''}]]
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Official Information</legend>
                <div class="grid-container">
                    <div class="grid-item"><span class="field">Experience Industry: </span>[[${personalDetails!= null ?
                        personalDetails.expInd : ''}]]</div>
                    <div class="grid-item"><span class="field">Experience Academic: </span>[[${personalDetails!= null ?
                        personalDetails.expAcd : ''}]]</div>
                    <div class="grid-item"><span class="field">Date of Joining: </span>[[${personalDetails!= null ?
                        personalDetails.doj :
                        ''}]]</div>
                    <div class="grid-item"><span class="field">Date of Leaving: </span>[[${personalDetails!= null ?
                        personalDetails.dol :
                        ''}]]</div>
                    <div class="grid-item"><span class="field">Google scholar Id: </span>[[${personalDetails!= null ?
                        personalDetails.googleId
                        : ''}]]</div>
                    <div class="grid-item"><span class="field">Scopus Id: </span>[[${personalDetails!= null ?
                        personalDetails.scopusId :
                        ''}]]
                    </div>
                    <div class="grid-item"><span class="field">SCI/Clarivate id: </span>[[${personalDetails!= null ?
                        personalDetails.sciId
                        :
                        ''}]]</div>
                </div>
            </fieldset>
        </div>

        <fieldset>
            <legend>Address</legend>
            <div class="grid-container">
                <div class="grid-item"><span class="field">Current Address: </span>[[${personalDetails!= null ?
                    personalDetails.curAdd :
                    ''}]]</div>
                <div class="grid-item"><span class="field">Current City: </span>[[${personalDetails!= null ?
                    personalDetails.currCity :
                    ''}]]</div>
                <div class="grid-item"><span class="field">Current Pincode: </span>[[${personalDetails!= null ?
                    personalDetails.currPin :
                    ''}]]</div>
                <div class="grid-item"><span class="field">Current State: </span>[[${personalDetails!= null ?
                    personalDetails.currState :
                    ''}]]</div>
                <div class="grid-item"><span class="field">Current Country: </span>[[${personalDetails!= null ?
                    personalDetails.currCunt :
                    ''}]]</div>

                <div class="grid-item"><span class="field">Permanent Address: </span>[[${personalDetails!= null ?
                    personalDetails.perAdd :
                    ''}]]</div>
                <div class="grid-item"><span class="field">Permanent City: </span>[[${personalDetails!= null ?
                    personalDetails.perCity :
                    ''}]]</div>
                <div class="grid-item"><span class="field">Permanent Pincode: </span>[[${personalDetails!= null ?
                    personalDetails.perPin :
                    ''}]]</div>
                <div class="grid-item"><span class="field">Permanent State: </span>[[${personalDetails!= null ?
                    personalDetails.perState :
                    ''}]]</div>
                <div class="grid-item"><span class="field">Permanent Country: </span>[[${personalDetails!= null ?
                    personalDetails.perCunt :
                    ''}]]</div>
            </div>
        </fieldset>

        <button class="update-btn"><a href="detailUpdateForm">Update Information</a></button>
    </main>


    <script>
        var modal = document.getElementById("myModal");
        var img = document.querySelector(".title-area .profile img");
        var modalImg = document.querySelector("#myModal img");
        img.onclick = function () {
            modal.style.display = "flex";
            modalImg.src = this.src;
        }
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>
</body>

</html>