<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Settings</title>
	<link rel="stylesheet" href="/css/settings.css">
</head>

<body>
	<header>
		<div class="title-area">
			<h1>Settings</h1>
			<div class="profile">
				<div class="name">[[${user.name}]]</div>
				<img src="/profilePicture" alt="" onclick="openModal(this)">
			</div>
		</div>
	</header>
	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<img src="/profilePicture" alt="">
		</div>
	</div>
	<main>
		<div class="card">
			<h2>Account Settings</h2>
			<form action="updatePassword" method="post">
				<div class="input-group">
					<label for="username">User Name</label>
					<input type="text" id="cusername" name="name" required>
				</div>
				<div class="input-group">
					<label for="current-password">Current Password</label>
					<input type="password" id="current-password" name="oldPass" required>
				</div>
				<div class="input-group">
					<label for="new-password">New Password</label>
					<input type="password" id="new-password" name="newPass" required>
				</div>
				<button type="submit">Change Password</button>
			</form>
		</div>

		<div class="card">
			<button class="delete-user" onclick="toggleDeleteConfirmModal()">Delete Account</button>
			<span th:if="${error}" class="error-message">
				Wrong password, please try again.
			</span>

		</div>

		<!-- deletion confirm modal -->
		<div class="delete-confirm-modal">
			<div class="delete-confirm-modal-content">
				<span class="close" onclick="toggleDeleteConfirmModal()">&times;</span>
				<h2>Are you sure you want to <span>DELETE</span> your account?</h2>
				<form action="deleteUser" method="post">
					<div class="input-group">
						<label for="password">Enter your password to confirm</label>
						<input type="password" id="password" name="password" required>
					</div>
					<button type="submit">Delete Account</button>
				</form>
			</div>

		</div>

		<div class="card">
			<h2>Update Profile Picture</h2>
			<form action="/uploadProfilePicture" method="post" enctype="multipart/form-data">
				<div class="input-group">
					<label for="profile-picture">Select a profile picture:</label>
					<input type="file" id="profile-picture" name="file" accept="image/*" oninput="readURL()" required>
					<img class="photo-preview" alt="">
				</div>
				<button type="submit">Upload Profile Picture</button>
			</form>
		</div>
		</div>
	</main>

	<script>
		var modal = document.getElementById("myModal");
		var img = document.querySelector(".title-area .profile img");
		var modalImg = document.querySelector("#myModal img");
		img.onclick = function () {
			modal.style.display = "flex";
			modalImg.src = this.src;
		}
		var span = document.getElementsByClassName("close")[0];
		span.onclick = function () {
			modal.style.display = "none";
		}
		function toggleDeleteConfirmModal() {
			document.querySelector(".delete-confirm-modal").classList.toggle("show");
		}

		function readURL() {
			let input = document.querySelector("#profile-picture");
			if (input.files && input.files[0]) {
				let reader = new FileReader();
				reader.onload = function (e) {
					document.querySelector(".photo-preview").src = e.target.result;
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
	</script>
</body>

</html>